body {
    margin-left: 50px;
    margin-right: 50px;
}
h1 {
    text-align: center;
}
h3 {
    color: rgb(63, 63, 63);
    text-align: center;
}
p {
    text-align: justify;
    font-size: 25px;
}
li {
    font-size: 20px;
}
code {
    border: 2px rgb(94, 94, 94) solid;
    background-color: rgb(150, 149, 149, 0.5);
}
bbox:hover{
    opacity: 0.6;
}
bbox {
    padding-right: 25px;
}
img {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    align-items: center;
}
.button {
    display: inline-block;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(235, 235, 235);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-radius: 6px;
}
img:hover {
    opacity: 0.6;
}